.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* biar glass ketengah */
  z-index: 1000;
  padding: 10px 0;
  background: transparent; /* biar ga nutup bg */
    transition: padding 0.3s ease, background 0.3s ease;
    
}
.navbar-glass {
  width: 40% !important;

  transition: width 0.3s ease, height 0.3s ease;
  
}


.navbar-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: 2px solid white;
  border-radius: 50px;
  /* Efek Neon */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  animation: neon-border 2s infinite alternate;
}

@keyframes neon-border {
  to {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}

.logo a {
  color: white;
  text-decoration: none;
  font-family: 'Cursive', sans-serif;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-links li a:hover {
  color: #f0f0f0;
}

.nav-links li a:hover::after {
  width: 100%;
}
/* tablet */
@media (max-width: 768px) {
  .navbar{

     margin: 0 !important;
    border-radius: 0 !important;
 
  }

    .navbar-glass {
    width: 80% !important;
  }
}

/* mobile */
@media (max-width: 480px) {
 
    .navbar-glass {
    width: 95% !important;
  }
}